.dropdown {
    position: relative;
    display: inline-block;
}

.button{
    width:178px;
    height:18px;
    background-color:#ff3232 ;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:white;
}